In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
import requests
import sys

In [2]:
# loading dataset

url = "https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv"
download = requests.get(url).content

insta_data = pd.read_csv(io.StringIO(download.decode('utf-8')))
insta_data

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [3]:
# data cleaning

time = insta_data["Time since posted"].str.split(" ", n = 1, expand = True) 
insta_data['Time since posted'] = time[0]
insta_data['Time since posted'] = insta_data['Time since posted'].astype(int)

In [4]:
insta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    int32
 7   Likes              100 non-null    int64
dtypes: int32(1), int64(4), object(3)
memory usage: 6.0+ KB

In [5]:
# seperating input and output variables

X = insta_data.filter(['Followers', 'Time since posted'], axis=1)
y = insta_data['Likes']
y

0     139
1      23
2      25
3      49
4      30
     ...
95     31
96     42
97     10
98    222
99    109
Name: Likes, Length: 100, dtype: int64

In [6]:
# splitting train set and test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.head()

    Followers  Time since posted
55       3448                 24
88       1158                  2
26        265                  2
42        273                  2
69       1003                  2

In [7]:
# training the model

from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [8]:
# calculating accuracy

from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

541.0121910944123